html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  color: white;
  text-decoration: none;
}
.bold {
  font-weight: bold !important;
}
.capitalize {
  text-transform: capitalize;
}
